#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;

  --header-height: 40px;
  --footer-height: 30px;
  --content-height: calc(100dvh - var(--header-height) - var(--footer-height));

  --text: #ff7171;
  --text-hover: #ff4f4f;
  --text-link: #fa255e;
  --text-dark: #500000;
  --back: #fff0f0;
  --back-hover: #ffcece;
  --back-light: #fffbfb;
}