* {
  /* 微软雅黑, 苹方 */
  font-family: 'Microsoft YaHei', 'PingFang SC', sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  background-color: var(--back);

  --header-height: 40px;
  --footer-height: 30px;
  --content-height: calc(100dvh - var(--header-height) - var(--footer-height));

  --text: #500000;
  --text-hover: #ff4f4f;
  --text-link: #fa255e;
  --text-light: #ff7171;
  --back: #ffeeee;
  --back-hover: #ffcece;
  --back-light: #fffbfb;
  --back-logs: #fff7f7;
  --back-dark: #ffe0e0;
}

#container,
body,
html {
  background: transparent;
  border-radius: 10px;
}
