#content {
  width: 100dvw;
  height: var(--content-height);
  position: relative;
  
  & > .content-main {
    width: 100%;
    height: calc(var(--content-height) - 10rem);
    position: absolute;
    top: 0;
    padding: 1.5rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--back-light);
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--back-hover) var(--back-light);

    & .content-form {
      padding-top: 1.5rem;
    }
  }
}

.content-logs-container {
  width: 100%;
  height: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  bottom: 0;
  & .content-logs {
    width: 100%;
    height: 100%;
    overflow: auto;
    scrollbar-width: none;
    padding: 0.55rem 0.75rem;
    
    text-align: left;
    line-height: 1.3rem;
    font-size: 0.8rem;
  
    color: var(--text);
    background-color: var(--back-logs);
    border-top: 1px solid var(--back-hover);
    &:first-child {
      border-right: 1px dashed var(--back-hover);
    }
  
    & .content-logs-item {
      white-space: nowrap;
      overflow-x: auto;
      scrollbar-width: none;
      opacity: 0.85;
    }
  }
}

.content-courses {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 1rem;
  margin-top: -0.9rem;
  & .content-courses-empty {
    opacity: 0.8;
    font-size: 0.8rem;
    color: var(--text);
    background-color: var(--back);
    border: 1px solid var(--text);
    padding: 0.1rem 0.5rem;
    border-radius: 2rem;
    transform: translateX(0.7rem);
  }
  & .content-courses-item {
    transform: translateX(0.7rem);
    display: grid;
    grid-template-columns: 1fr 1.7rem;
    font-size: 0.8rem;
    color: var(--text);
    background-color: var(--back-light);
    border: 1px solid var(--text);
    border-radius: 2rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    opacity: 0.8;
    & .content-courses-close {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.1rem 0;
      padding-right: 0.16rem;
      border-radius: 0 2rem 2rem 0;
      border-left: 1px solid var(--text);
      color: var(--text);
      &:hover {
        color: var(--back);
        background-color: var(--text);
      }
    }
    & > p {
      padding: 0.1rem 0.5rem;
    }
  }
}

.antd-like-input {
  display: block;
  box-sizing: default;
  border-radius: 0;
  height: 2rem;
  padding: 0.5rem 0.6rem;
  font-size: 0.85rem;
  opacity: 0.8;
  color: var(--text);
  background-color: #fff;
  border: none;
  outline: none;
  transition: all 0.2s;
  &:first-child {
    border: 1px solid #dadada;
    border-radius: 0.3rem 0 0 0.3rem;
  }
  &:nth-child(2) {
    border: 1px solid #dadada;
    border-left: none;
    border-right: none;
  }
  &:hover {
    outline: 1px solid #f3afaa;
    border-color: transparent;
  }
  &:focus {
    outline: 1px solid #ef8784;
    border-color: transparent;
  }
}
