#footer {
  display: grid;
  grid-template-columns: 7.7rem 1fr 7.7rem;
  height: var(--footer-height);
  width: 100dvw;
  color: var(--text);
  background-color: var(--back);

  & .footer-status,
  & .footer-info,
  & .footer-browser {
    text-align: center;
    height: var(--footer-height);
    border: none;
    outline: none;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: var(--footer-height);
  }
  & .footer-browser {
    text-align: left;
    padding-left: 15px;
    background-color: var(--back-dark);
  }
  & .footer-info {
    text-align: right;
    padding-right: 15px;
    background-color: var(--back-dark);
  }
  & .footer-status {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 15px;
  }
}