#header {
  display: grid;
  grid-template-columns: 
    5rem
    2.2rem
    1fr
    var(--header-height) 
    var(--header-height) 
    var(--header-height)
    var(--header-height)
    var(--header-height);
  height: var(--header-height);
  width: 100dvw;
  color: var(--text);
  background-color: var(--back);

  & .header-pin,
  & .header-reload,
  & .header-close,
  & .header-max,
  & .header-min {
    height: var(--header-height);
    border: none;
    outline: none;
    color: var(--text);
    background-color: var(--back);
    &:hover {
      background-color: var(--back-hover);
    }
  }

  & .header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--header-height);
    padding-right: 0;
    line-height: calc(var(--header-height) - 20px);
    font-size: 0.85rem;
    font-weight: bold;
  }
  & .header-version {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.65rem;
    font-weight: bold;
    background-color: var(--back-light);
    border-radius: 10px;
    border: 1px solid var(--text);
    opacity: 0.8;
    margin: 10px 0;
    transform: translateX(-5px);
  }
  & .header-status-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    & .header-status {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.65rem;
      font-weight: bold;
      background-color: var(--back-light);
      border-radius: 10px;
      border: 1px solid var(--text);
      opacity: 0.8;
      padding: 1px 5px;
      transform: translateX(3px);
    }
  }
}