* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 让盒子的宽高包含内边距和边框 */
}
*:focus {
  outline: none;
  /* 防止点击时出现蓝色边框 */
}
html {
  scroll-behavior: smooth;
  /* 滚动时平滑过渡 */
}
em,
i {
  font-style: normal;
  /* 防止斜体 */
}
a {
  text-decoration: none;
  /* 防止下划线 */
}
li {
  list-style: none;
  /* 防止列表样式 */
}
img {
  border: none;
  vertical-align: center;
  /* 防止图片底部空隙 */
}
button {
  cursor: pointer;
  /* 鼠标经过时显示可点击提示 */
}

:root {
  overflow: hidden;
}
